.section-services{
  background: url("../img/section-bg-opt.jpg") no-repeat top left;
  background-size: cover;
  /*color: #FFF;*/

  @media screen and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &--rows{
    display: flex;
    flex-direction: column;
    gap: 110px;

    @media screen and (max-width: 767px) {
      gap: 40px;
    }
  }

  &--heading{
    font-family: Gazzetta;
    font-size: 110px;
    font-weight: 500;
    line-height: 0.8;
    
    @media screen and (max-width: 1324px) {
      font-size: 98px;
    }

    @media screen and (max-width: 767px) {
      font-size: 60px;
    }
  }

  &--description{
    font-size: 25px;
    line-height: 1.3;

    p{
      margin-bottom: 2rem;
    }

    @media screen and (max-width: 1324px) {
      font-size: 23px;
    }

    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
}