<section class="section-hero text-md-center d-flex flex-column justify-content-between text-light">
    <div class="container">
        <div class="max-w-660px mx-auto" data-aos="fade-zoom-in" data-aos-easing="ease-in-back">
            <div class="section-hero--heading text-uppercase">OUR journey starts together</div>
        </div>
    </div>
    <div class="container">
        <div class="max-w-660px mx-auto" data-aos="fade-zoom-in" data-aos-easing="ease-in-back">
            <a href="javascript:;" onclick="Calendly.initPopupWidget({url: ' https://calendly.com/craigsparkes/actai-member-session  '});return false;" class="section-hero--cta text-uppercase link-decoration link-decoration--size-base">Let’s do this!</a>
        </div>
    </div>
</section>