<section class="page-section page-section--section110 section-services text-light">
    <div class="container">
        <div class="section-services--rows">
            <div class="section-services--header">
                <div class="row">
                    <div class="col-xl-6">
                        <h2 class="section-services--heading text-uppercase pe-4 mb-0">Beep is a multi-disciplinary, technology influenced <span class="link-decoration link-decoration--size-base">design studio</span></h2>
                    </div>
                    <div class="col-xl-6 mt-5 mt-xl-0">
                        <div class="reset-last-margin section-services--description ps-xl-4">
                            <p>Starting in Silicon Valley, we've collaborated with startups and businesses to foster growth and attract new customers. Now a global design agency, we deliver a full suite of creative services and experiences to like-minded companies and entrepreneurs around the world.</p>
                            <p>We work with you and take pride in consistently establishing long and meaningful working relationships.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-services--columns">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="service-box">
                            <div>
                                <img src="img/brand-strategy.svg">
                            </div>
                            <h3>Brand & strategy</h3>
                            <div class="reset-last-margin service-box--description">
                                <p>Everything comes back to the brand, it’s at the heart of everything that we do. We offer a variety of frameworks and creative processes to ensure your brand is unique, authentic and memorable.</p>
                            </div>
                            <ul>
                                <li>Identity</li>
                                <li>Guides</li>
                                <li>Strategy</li>
                                <li>Analysis</li>
                                <li>Templates</li>
                                <li>Design</li>
                                <li>Video</li>
                                <li>Direction</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="service-box">
                            <div>
                                <img src="img/websites-techonology.svg">
                            </div>
                            <h3>Websites & Technology</h3>
                            <div class="reset-last-margin service-box--description">
                                <p>Living and breathing technology gives us the edge when it comes to developing products and designing websites. Our technologists seamlessly adapt their approach to deliver a smooth and efficient solution.</p>
                            </div>
                            <ul>
                                <li>Applications</li>
                                <li>Websites</li>
                                <li>UX/UI</li>
                                <li>Laravel</li>
                                <li>MarTech</li>
                                <li>Landing Pages</li>
                                <li>E-marketing</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="service-box">
                            <div>
                                <img src="img/marketing-events.svg">
                            </div>
                            <h3>Marketing & Events</h3>
                            <div class="reset-last-margin service-box--description">
                                <p>Now that you have everything, you need results. Choosing and connecting the right technologies for your marketing is critical to its success. We can help you maximise your marketing strategies and deliverables to help get the results you’re looking for.</p>
                            </div>
                            <ul>
                                <li>Campaigns</li>
                                <li>Toolkits</li>
                                <li>Social</li>
                                <li>Community</li>
                                <li>Templates</li>
                                <li>Design</li>
                                <li>Video</li>
                                <li>Direction</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>