<section class="page-section page-section--section110 section-welcome">
    <div class="container">
        <div class="max-w-720px mx-auto">
            <div class="section-welcome--rows text-center">
                <div>
                    <img src="img/actai-beep-logos.svg" alt="Actai Beep">
                </div>
                <div class="reset-last-margin text-start text-sm-center">
                    <p>As fellow ACTAI community members, we appreciate your commitment and passion for sharing wisdom and helping others. For this reason, we're offering a free, informal session to address your brand and marketing challenges.</p>
                </div>
                <div>
                    <a href="javascript:;" onclick="Calendly.initPopupWidget({url: ' https://calendly.com/craigsparkes/actai-member-session  '});return false;" class="btn btn-lg btn-danger text-uppercase">START YOUR JOURNEY TODAY</a>
                </div>
            </div>
        </div>
    </div>
</section>