@font-face {
    font-family: 'Gazzetta';
    src: url('../fonts/gazzetta/Gazzetta-MediumSlanted.woff2') format('woff2'),
        url('../fonts/gazzetta/Gazzetta-MediumSlanted.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gazzetta';
    src: url('../fonts/gazzetta/Gazzetta-Regular.woff2') format('woff2'),
        url('../fonts/gazzetta/Gazzetta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gazzetta';
    src: url('../fonts/gazzetta/Gazzetta-Light.woff2') format('woff2'),
        url('../fonts/gazzetta/Gazzetta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GazzettaThin';
    src: url('../fonts/gazzetta/Gazzetta-ThinSlanted.woff2') format('woff2'),
        url('../fonts/gazzetta/Gazzetta-ThinSlanted.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gazzetta';
    src: url('../fonts/gazzetta/Gazzetta-ExtraLight.woff2') format('woff2'),
        url('../fonts/gazzetta/Gazzetta-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gazzetta';
    src: url('../fonts/gazzetta/Gazzetta-ExtraBoldSlanted.woff2') format('woff2'),
        url('../fonts/gazzetta/Gazzetta-ExtraBoldSlanted.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gazzetta';
    src: url('../fonts/gazzetta/Gazzetta-LightSlanted.woff2') format('woff2'),
        url('../fonts/gazzetta/Gazzetta-LightSlanted.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gazzetta';
    src: url('../fonts/gazzetta/Gazzetta-Medium.woff2') format('woff2'),
        url('../fonts/gazzetta/Gazzetta-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gazzetta';
    src: url('../fonts/gazzetta/GazzettaSlanted.woff2') format('woff2'),
        url('../fonts/gazzetta/GazzettaSlanted.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gazzetta';
    src: url('../fonts/gazzetta/Gazzetta-Bold.woff2') format('woff2'),
        url('../fonts/gazzetta/Gazzetta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gazzetta';
    src: url('../fonts/gazzetta/Gazzetta-ExtraLightSlanted.woff2') format('woff2'),
        url('../fonts/gazzetta/Gazzetta-ExtraLightSlanted.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gazzetta';
    src: url('../fonts/gazzetta/Gazzetta-Thin.woff2') format('woff2'),
        url('../fonts/gazzetta/Gazzetta-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gazzetta';
    src: url('../fonts/gazzetta/Gazzetta-ExtraBold.woff2') format('woff2'),
        url('../fonts/gazzetta/Gazzetta-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gazzetta';
    src: url('../fonts/gazzetta/Gazzetta-BoldSlanted.woff2') format('woff2'),
        url('../fonts/gazzetta/Gazzetta-BoldSlanted.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gazzetta';
    src: url('../fonts/gazzetta/Gazzetta-Black.woff2') format('woff2'),
        url('../fonts/gazzetta/Gazzetta-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gazzetta';
    src: url('../fonts/gazzetta/Gazzetta-BlackSlanted.woff2') format('woff2'),
        url('../fonts/gazzetta/Gazzetta-BlackSlanted.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

