@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica2/HelveticaNeue-BlackItalic.woff2') format('woff2'),
    url('../fonts/helvetica2/HelveticaNeue-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica2/HelveticaNeue-HeavyItalic.woff2') format('woff2'),
    url('../fonts/helvetica2/HelveticaNeue-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica2/HelveticaNeue-Black.woff2') format('woff2'),
    url('../fonts/helvetica2/HelveticaNeue-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica2/HelveticaNeue-UltraLight.woff2') format('woff2'),
    url('../fonts/helvetica2/HelveticaNeue-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica2/HelveticaNeue-Heavy.woff2') format('woff2'),
    url('../fonts/helvetica2/HelveticaNeue-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica2/HelveticaNeue-Roman.woff2') format('woff2'),
    url('../fonts/helvetica2/HelveticaNeue-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica2/HelveticaNeue-Medium.woff2') format('woff2'),
    url('../fonts/helvetica2/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica2/HelveticaNeue-Italic.woff2') format('woff2'),
    url('../fonts/helvetica2/HelveticaNeue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica2/HelveticaNeue-Bold.woff2') format('woff2'),
    url('../fonts/helvetica2/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica2/HelveticaNeue-ThinItalic.woff2') format('woff2'),
    url('../fonts/helvetica2/HelveticaNeue-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica2/HelveticaNeue-MediumItalic.woff2') format('woff2'),
    url('../fonts/helvetica2/HelveticaNeue-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica2/HelveticaNeue-Light.woff2') format('woff2'),
    url('../fonts/helvetica2/HelveticaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica2/HelveticaNeue-LightItalic.woff2') format('woff2'),
    url('../fonts/helvetica2/HelveticaNeue-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica2/HelveticaNeue-UltraLightItalic.woff2') format('woff2'),
    url('../fonts/helvetica2/HelveticaNeue-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica2/HelveticaNeue-Thin.woff2') format('woff2'),
    url('../fonts/helvetica2/HelveticaNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica2/HelveticaNeue-BoldItalic.woff2') format('woff2'),
    url('../fonts/helvetica2/HelveticaNeue-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

