.max-w-660px{
  max-width: 660px;
}

.max-w-720px{
  max-width: 720px;
}

.max-w-880px{
  max-width: 880px;
}

.reset-last-margin{
  & > *:last-child{
    margin-bottom: 0!important;
  }
}

.link-decoration{
  position: relative;

  &:after{
    content: "";
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    background: url("../img/line-decoration.svg") no-repeat center;
    background-size: contain;
  }

  &--size-base:after{
    height: 10px;
  }
}